.actual{
    border-radius: .5rem;
    height: max-content;
}



.actual_item{
    padding-top: 1rem;
    font-size: .875rem;
}

.actual_item-text{
    padding: 0 1rem .5rem 0;
}

.actual_item-desc{
    span{
        margin-right: 1rem;
    }
}