.articles{
    height: max-content;
    &.section{
        padding: 0;
        box-shadow: none;
    }

    .section-head{
        position: relative;
        margin: 0 1rem;
        padding-top: 1rem;

        &::before{
            position: absolute;
            content: "";
            width: calc(100% + 2rem);
            height: 2rem;
            background-color: $white;
            left: -1rem;
            top: calc(100% + 1px);
        }
    }
}

.articles_list{
    background-color: #FAFAFA;

    li:last-child{
        margin-bottom: 0;
    }
}

.article{
    background-color: $white;
    padding: 0 1rem 1rem 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-shadow: $block-shadow;
    border: 1px solid transparent;
    &:first-child{
        // border-top-left-radius: 0;
        // border-top-right-radius: 0;
        margin-top: 1rem;
        position: relative;
        z-index: 0;
        .article_image {
            &::after {
                padding-top: 46%;
            }
        }
    }
    &:last-child{
        margin-bottom: 0;
    }

    .ads-button{
        display: none;
    }

    &--ads{
        background-color: $light-yellow;
        border: 1px solid $yellow-border;


        button[data-expand]{
            display: none;
        }

        

        .favorites{
            display: none;
        }

        .article_button-print{
            display:none;
        }

        .article_hashtags{
            margin-left: auto;
        }

        .article_hashtag{
            font-weight: bold;
            margin-right: 0;
            text-transform: capitalize;
        }

        .article_date,
        .views,
        .article_item-bottom{
            display: none;
        }

        .ads-button{
            display: block;
        }
    }

    .button.reply{
        margin-bottom: 1.5rem;
        font-weight: 400;
    }

    &:hover{
        border: 1px solid $yellow-border;
    }
}
.article_title{
    font-size: 1.125rem;
    font-weight: 500;
}

.article_desc{
    padding: 1rem 0;
    font-size: .875rem;
}

.article_image{
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    &::after {
        content: '';
        display: block;
        padding-top: 30%; 
        pointer-events: none;
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article_date{
    color: $grey-text;
}

.article_hashtag{
    color: $mustard;
    margin-right: .5rem;
    font-size: .75rem;
}

.article_hashtags{
    display: flex;
}

.article_item-top{
    padding: 1rem 0;
    font-size: .75rem;
    align-items: center;

    span{
        margin-right: 2rem;
    }
}

.article_button-print{
    margin-left: auto;
    position: relative;
    width: 1rem;
    height: 1rem;

    img{
        position: absolute;
        top: 0;
        left: 0;
        transition: .2s ease-out;
    }

    .hover{
        opacity: 0;
    }

    &:hover{
        .default{
            opacity: 0;
        }

        .hover{
            opacity: 1;
        }
    }
}

.article_item-bottom{

    .icon-block{
        padding-top: .25rem;
        padding-bottom: .25rem;
        margin-right: 1.75rem;
        &.comments-icon{
            background-size: 1rem;
        }
    }
}