.site-header{
    padding: .875rem 2.125rem;
    background-color: $dark-grey;
    display: grid;
    align-items: center;
    grid-template-columns: 19% auto 19%;
}


.site-header_search{
    input{
        width: 20rem;
        padding: .625rem .75rem;
        border-radius: .25rem;
        font-size: .75rem;
        border: none;
        outline: none;
        background-color: $white;

        &::placeholder{
            color: #BDBDBD;

        }
    }
}

.site-header_user-nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
    font-size: .875rem;
    color: $white;
    background: url('../img/icons/exit.svg') right 0 no-repeat;
}