.site-main{
    display: grid;
    grid-template-columns: 19% auto 20% 19%;
    grid-gap: 1rem;
    background-color: #FAFAFA;
    padding-top: 5.5rem;
}

.site-main_third-section{
    height: max-content;
    .third_ads{
        margin-bottom: 1rem;
    }
}

.site-main_main-section{
    height: max-content;
    .section{
        border-radius: .5rem;
    }
}