.button{
    display: block;
    cursor: pointer;
    transition: .15s ease-out;
    &.yellow{
        background-color: $lemon-yellow;
        color: $black;
        padding: .5rem 1.5rem;
        border-radius: .25rem;
        font-size: .75rem;
        font-weight: 500;
        box-shadow: $button-shadow;
        &:hover {
            background-color: lighten($lemon-yellow, 10%);
        }
    }

    &.yellow-border{
        font-size: .75rem;
        background-color: $white;
        padding: .3rem 1rem;
        border-radius: .25rem;
        border: 1px solid $yellow-border;
        margin-top: .5rem;
        width: max-content;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        &:hover {
            background-color: lighten($lemon-yellow, 45%);
        }
    }

    &.reply{
        color: $grey-text;
        font-size: .875rem;
        font-weight: 500;

        &:hover,
        &:focus{
            color: $yellow;
        }
    }
}


.section-head{
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-line;
    align-items: baseline;
    flex-wrap: wrap;
    position: relative;

    .head_title{
        font-size: 1rem;
        font-weight: 500;
    }

    .head_button{
        font-size: .75rem;
        color: $grey-text;

        &:hover{
            color: $yellow;
        }
    }

    &.main-head{
        .head_title{
            font-size: 1.25rem;
        }
        .head_button{
            //color: $mustard;
            margin-left: 1.5rem;

            &:hover{
                color: $mustard;
            }
        }
    }
}


.section{
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: $block-shadow;
    background-color: $white;
}

.icon-block{
    color: $grey-text;
    font-size: .75rem;
    padding-left: 1.5rem;
    min-height: .5rem;

    &.comments-icon{
        background:  url('../img/icons/comment-icon.svg') left center no-repeat;
        background-size: 1rem;

        &:hover{
            background-image: url('../img/icons/comment-icon-hover.svg');
        }
    }

    &.views{
        background:  url('../img/icons/view-icon.svg') left center no-repeat;
    }

    &.subscribers{
        background:  url('../img/icons/subscriber.svg') left 0 no-repeat;
        background-size: contain;
    }
    &.calendar{
        background:  url('../img/icons/calendar-hover.svg') left 0 no-repeat;
        background-size: contain;
        &:hover{
            background-image: url('../img/icons/calendar.svg');
        }
    }
    &.undo{
        background:  url('../img/icons/undo.svg') left center no-repeat;
        background-size: 1rem;
        &:hover{
            background-image: url('../img/icons/undo-hover.svg');
        }
    }
    &.like{
        background:  url('../img/icons/like.svg') left center no-repeat;
        background-size: 1rem;
        &:hover{
            background-image: url('../img/icons/like-hover.svg');
        }
    }
    &.blog-icon{
        background:  url('../img/icons/blog-icon.svg') left center no-repeat;
        background-size: 1rem;
        &:hover{
            background-image: url('../img/icons/blog-icon-hover.svg');
        }
    }
    &.favorites{
        background:  url('../img/icons/favorites.svg') left center no-repeat;
        background-size: 1rem;
        &:hover{
            background-image: url('../img/icons/favorites-hover.svg');
        }
    }

    &:not(.views):not(.subscribers):hover{
        color: $yellow;
    }
}

.ajax-load-more-wrap.white {
    .alm-btn-wrap{
        margin-top: 1rem;
        padding: 0;
        text-align: left;
    }
    button.alm-load-more-btn{
        color: $grey-text;
        font-size: .75rem;
        padding: 0;
        border: none;
        box-shadow: none;
        padding-left: 1.5rem;
        height: max-content;
        min-height: .5rem;
        background:  url('../img/icons/undo.svg') left center no-repeat;
        background-size: 1rem;
        font-weight: 400;
        &:hover{
            background-image: url('../img/icons/undo-hover.svg');
            color: $yellow;
            box-shadow: none;
        }
    }

}

button[type="button"].button-sorting{
    position: relative;
    padding-right: 1rem;
    margin-left: 1.5rem;

    &::after{
        position: absolute;
        content: "";
        right: 0;
        top: .25rem;
        width: .25rem;
        height: .25rem;
        border: 1px solid $grey-text;
        border-bottom: none;
        border-left: none;
        transform: rotate(135deg);
        transition: .2s ease-out;
    }

    &:hover::after{
        border-color: $mustard;
    }


    &--active{
        color: $mustard;

        &::after{
            transform: rotate(-45deg);
            border-color: $mustard;
        }
    }
}

.hashtag{
    color: $mustard;
    margin-right: .5rem;
    font-size: .75rem;
}


.subscription-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-green;
    border: 1px solid $green-border;
    border-radius: .5rem;
    padding: 1rem;
}

.subscription_title{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.subscription_input{
    background-color: #FAFAFA;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border: 1px solid #EEF7FF;
    padding: .75rem 1rem;
    font-size: .875rem;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15);
    flex-grow: 1;

    &::placeholder{
        font-size: .875rem;
        color: $border-line;
    }
}

.subscription_button{
    border: 1px solid $green-border;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background:  url('../img/icons/check.svg') center no-repeat $white;
    width: 3rem;
    height: 3rem;
}