$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

//colors

$black: #333333;
$dark-grey: #37383A;
$grey: #4F5154;
$light-grey: #8E98A5;
$white: #ffffff;
$yellow: #DCB102;
$lemon-yellow: #FFCB03;
$mustard: #BB9B18;
$yellow-border: #FFBC40;
$border-line: #CFDDE9;


//box-shadow

$block-shadow: .25rem .25rem .5rem rgba(142, 139, 139, 0.15);
